<div class="container-fluid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 main1">
        <div>
            <span>
                <img [src]="this.displayImg" width="300" height="300"/>
            </span>
        </div>
      </div>
      <div class="col-md-7 main2">      
        <form (submit)="validateForm()">
          <span><img  class="img-responsive" src="../../assets/img/cart/cart.png" /></span>
          <div class="form-group">
            <h3>Phone Number</h3>
              <input type="number" name="phone_no" [(ngModel)]="input.phone_no"  placeholder="Enter Phone Number" class="form-control">
            <h3>Email</h3>
              <input type="text" name="email" [(ngModel)]="input.email"  placeholder="Enter You E-mail address" class="form-control">
              <h3>Quantity</h3>
              <input type="number" #qty name="quantity" [(ngModel)]="input.quantity" class="form-control">
            <br/><input type="submit" (click)="onClick(qty.value)"value="Shop Now" class="btn btn-warning">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
 