<div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul class="section1">
            <li><a routerLink="/" class="active"> MOBILE PHONES</a></li>
            <li><a routerLink="/laptops">LAPTOPS</a></li>
            <li><a routerLink="/mfashion">MEN'S FASHION</a></li>
            <li><a routerLink="/beauty-health">BEAUTY & HEALTH</a></li>
        </ul>
      </div>
      <div class="col-md-8">
          <div class="row">
            <div class="col-md-4">
              <img class="img-responsive" routerLink="/cart-page" [src]="newSource1"(click)="onClick1(newSource1)" width="300" height="200">
            </div>
            <div class="col-md-4">
              <img class="img-responsive"routerLink="/cart-page" [src]="newSource2"(click)="onClick1(newSource2)" width="300" height="500">
            </div>
            <div class="col-md-4">
              <img class="img-responsive"routerLink="/cart-page" [src]="newSource3"(click)="onClick1(newSource3)" width="250" height="200">
            </div>
          </div>
           <div class="row">
            <div class="col-md-4">
              <img class="img-responsive" routerLink="/cart-page" [src]="newSource4"(click)="onClick1(newSource4)" width="300" height="200">
            </div>
            <div class="col-md-4">
              <img class="img-responsive" routerLink="/cart-page" [src]="newSource5"(click)="onClick1(newSource5)" width="300" height="200">
            </div>
            <div class="col-md-4">
              <img class="img-responsive" routerLink="/cart-page" [src]="newSource6"(click)="onClick1(newSource6)" width="250" height="200">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <img class="img-responsive"routerLink="/cart-page" [src]="newSource7"(click)="onClick1(newSource7)" width="300" height="200">
            </div>
            <div class="col-md-4">
              <img class="img-responsive"routerLink="/cart-page" [src]="newSource8"(click)="onClick1(newSource8)" width="300" height="200">
            </div>
            <div class="col-md-4">
              <img class="img-responsive" routerLink="/cart-page" [src]="newSource9"(click)="onClick1(newSource9)" width="250" height="200">
            </div>
          </div>
      </div>
    </div>
</div>

